<body style= "background-image: url('https://i.pinimg.com/originals/25/9c/08/259c081cf67c0c5e351817663c4d1479.jpg'); background-size: 35%;">
<div class="w3-container w3-card w3-round w3-margin"  style="background-color:DarkBlue;">
  <h2 style="color:White;"><center>Welcome New User!</h2>
</div>
</body>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">  
  <div class="w3-row">
    <div class="w3-col m3">
      <div style class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center"><p style="font-size:18px">Please <b>Sign Up</b> below to contine: </p>
          <p style="font-size:11px">Already a member? Click <a style= "color:blue" href="/login"<b>Sign In</b></a> to continue</p></h4>
          <% if locals.empty? %>
          <p style="font-size:10px; color:Red";><%= flash[:message] %></p> 
          <% end %>
          <nav>
          <form action="/signup" method="POST">
            <p><input type="text" name="username" placeholder="Username:"></p>
            <p><input type="text" name="email" placeholder="Email:"></p>
            <p><input type="text" name="password" placeholder="Password:"></p>
            <input class="btn btn-primary" type="submit">
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>