<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-dark text-center">
        <h2 style="text-align: right"><img src="https://upload.wikimedia.org/wikipedia/commons/7/71/LA_Clippers_wordmark_2015%E2%80%93current.png" width="100">
            <span><center>The perfect place for the fans to connect over their favorite team.</span>
            <br><br>
        </div>
    </div>
    <nav>
        <% if logged_in? %>

            <a href="/posts/new"> Create Post </a>
            <a href="/logout"> Log Out </a>
        <%end %>
    </nav>
</div>
