<h2 style="text-align: right"><img src="https://upload.wikimedia.org/wikipedia/commons/7/71/LA_Clippers_wordmark_2015%E2%80%93current.png" width="100">
<h2>Add a post</h2>
<form action="/posts" method="POST">
  <p>Title: <input type="text" name="title"></p>
  <p>Status: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>