<div class="w3-row-padding">
  <div class="w3-col m12">
  <h4>;lkj;lkj;ljk;kj;kljj;jlk;ljk</h4>
  </div>
</div>
  <div class="w3-container w3-card w3-white w3-round w3-margin"><h2><center>Create a New Post</center></h2>
  <form action="/posts" method="POST">
    <p><center>Title:<input type="text" name="title"></center></p>
    <p><center>Status:<textarea name="content"></textarea></p>
    <center><input class="btn btn-primary" type="submit" value="submit"></center>
  </form>
  <span class="w3-right w3-opacity"></span>
  <h3 style="font-size:20px"></h3>
  <div class="w3-row-padding" style="margin:0 -16px">
  </div>
</div>