<body style= "background-image: url('https://i.pinimg.com/originals/25/9c/08/259c081cf67c0c5e351817663c4d1479.jpg'); background-size: 35%;">
<div class="w3-container w3-card w3-round w3-margin"  style="background-color:DarkBlue;">
    <br>
    <h2 style="color:White;"><center>Create a New Post</h2>
</div>
</body>

            
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <div class="w3-row">
    <div class="w3-col m3">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center"><b><%=current_user.username%></b></h4>
          <p class="w3-center"> <img src="https://sportslogohistory.com/wp-content/uploads/2018/04/los_angeles_clippers_concept_weinstein.png" class="w3-circle" style="height:106px;width:106px"></p>
          <hr>
          <p><center><%=current_user.email%></center></p>
        </div>
        <div class="w3-row-padding">
        </div>
      </div>
      <br> 

        <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p><img src="https://cdn.dribbble.com/users/227808/screenshots/1442473/swim-ad.gif" style="width:200px;"></p>
        </div>
        <br>          
          <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <p><img src="https://dwkujuq9vpuly.cloudfront.net/news/wp-content/uploads/2020/06/Online-ads-news-MAIN_v3-960x480.jpg" style="width:200px;"></p>
          </div>
      </div>



                
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-container w3-card w3-white w3-round w3-margin">
            <h4 class="w3-center"><p style="font-size:18px"><b>Join the conversation!</b></p></h4>
            <% if locals.empty? %>
            <p style="font-size:10px; color:Red";><%= flash[:message] %></p> 
            <% end %>
            <form action="/posts" method="POST">
            <p><center><textarea name="title" placeholder="Status:"></textarea></p>
            <p><textarea name="content" placeholder="Content:"></textarea></center></p>
            <input class="btn btn-primary" type="submit" value="submit">
            </form>
            <br>
            <a href="/posts"> Return to Homepage</a> 
            <br>    
          </div>
      </div>
  </div>
</div>