<h2 style="text-align: right"><img src="https://upload.wikimedia.org/wikipedia/commons/7/71/LA_Clippers_wordmark_2015%E2%80%93current.png" width="100"></h2>
<h2> Edit Post </h2>

<form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    Title: <input type="text" name="title" value="<%= @post.title %>">
    Content: <input type="text" name="content" value="<%= @post.content %>">
    <input type="submit" value="Edit Post">
</form>

<form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Post">
</form>

