<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-dark text-center">
        <h1 style="text-align: right"><img src="https://upload.wikimedia.org/wikipedia/commons/7/71/LA_Clippers_wordmark_2015%E2%80%93current.png" width="100"></h1>
            <h2><center>Welcome <%=current_user.username %> to the LA Clippers Club!</center></h2>
            <span><center>The perfect place for the fans to connect over their favorite team.</span>
            <br><br>
        </div>
    </div>
    <nav>
        <% if logged_in? %>
            <a href="/posts/new"> Create Post </a>
            <br><br>
            <a href="/logout"> Log Out </a>
        <%end %>
    </nav>
    <p </p>
</div>

<h2> Recent Posts </h2>

<% @posts.each do |p| %>
    <p><a href="/posts/<%= p.id %>"><b><%= p.title %></b></a>
        <br><br>
        <% if current_user == p.user %>
            <a href="/posts/<%= p.id %>/edit"></a> 
        <% end %>
    </p>
<% end %>