<div class="container">
  <header><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bb/Los_Angeles_Clippers_%282015%29.svg/1024px-Los_Angeles_Clippers_%282015%29.svg.png" width="150" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Los Angeles Clippers' Social Page!</h2>

    <div class="content">
      <p>Please Sign in or Sign up to continue.</p>
    </div>
</dvi>
