<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2><center>Welcome to the Los Angeles Clippers' Social Page!</h2>

    <p style="font-size:18px">Please <b>Sign Up</b> below to contine: </p>
    <p style="font-size:11px">Already a member? Click <b>Sign In</b> to contine</p>

    <nav>
    <% if !logged_in? %>
         <a href="/signup">Sign Up</a> 
    
         <a href="/login"> Sign In </a>

         <%else%>

          <a href="/posts"> Continue to your Home Page. </a>
          <br>
          <a href="/logout"> Logout </a>
          
        <%end %>
    </nav>
</div>


